:root{
    --color-primary: #DD545B;
    --color-primary-light: hsl(357, 20%, 82%);
    --color-primary-dark: #e0343d;
    --font-bold: Proxima-Regular;
    --font-light: Proxima-Light;
    --font-style: Sainte-Light;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Proxima-Light;
    src: url('./fonts/ProximaNova-Light.woff');
}

@font-face {
    font-family: Proxima-Regular;
    src: url('./fonts/ProximaNova-Regular.woff');
}

@font-face {
    font-family: Sainte-Light;
    src: url('./fonts/SainteColombe-Light.woff');
}

body{
    font-family: Proxima-Light;
    color: #DD545B;
}
