:root{
    --color-primary: #DD545B;
    --color-primary-light: hsl(357, 20%, 82%);
    --color-primary-dark: #e0343d;
    --font-primary: OpenSans-Light;
    --font-primary-italic: OpenSans-Italic;
    --font-primary-italic-light: OpenSans-LightItalic;
    --font-secondary-heading: Ginger
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans-Italic;
    src: url('./fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('./fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url('./fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
    font-family: Ginger;
    src: url('./fonts/ginger-modern-stylish-font/Ginger.ttf');
}


body{
    font-family: var(--font-primary);
    color: #DD545B;
}
